.popup-holder{
    position: fixed;
    z-index: 1300;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    .ph-backdrop-box{
        position: fixed;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-tap-highlight-color: transparent;
        z-index: -1;
        .ph-container-box{
            height: 100%;
            outline: 0;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            .ph-paper-box{
                &.width470{
                    width: 470px;
                    max-width: 470px;
                }
                &.width430{
                  width: 430px;
                  max-width: 430px;
                }
                &.width420{
                  width: 420px;
                  max-width: 420px;
                }
                background-color: #fff;
                color: rgba(0, 0, 0, 0.87);
                -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
                border-radius: 16px;
                box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
                margin: 0px;
                position: relative;
                overflow-y: auto;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                max-height: calc(100% - 64px);
                max-width: 600px;
                padding:30px 30px 30px 30px;
                box-sizing: border-box;
                -webkit-overflow-scrolling: touch;
                scrollbar-color: var(--graye8) transparent;
                scrollbar-width: thin;
                &::-webkit-scrollbar {
                    width: 4px;
                    height: 4px;
                    background-color: transparent;
                    border-radius: 2px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: var(--graye8);
                    border-radius: 2px;
                }
                &::-webkit-scrollbar-track {
                    border: 0.0625rem solid transparent;
                    border-radius: 2px;
                }
                .modal-close{
                    position: absolute;
                    top: 12px;
                    right: 12px;
                    width: 24px;
                    height: 24px;
                    object-fit: contain;
                    cursor: pointer;
                }
                .textfield{
                    margin: 0px 0px 24px 0px !important;
                }
                .form-group{
                    .ipnputlabel{
                        bottom: auto;
                        top: 57px;
                    }
                }
                .success-icon{
                    margin-bottom: 20px;
                    margin-top:10px;
                    width:220px;
                    height:97px;object-fit: contain;
                }
                .react-tel-input .country-list{
                  position: fixed !important;
                }
                .otp-ipt-grp1{
                    border: 1px solid var(--graybb);
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: auto;
                    margin: 0 10px;
                }
                .otp-ipt-grp2{
                    border: 1px solid var(--graybb);
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: auto;
                    margin: 0 10px;
                }
                .otp-input{
                    width: 8px;
                    height: 16px;
                    border: none;
                    border-right: 1px solid var(--graybb);
                    border-radius: 8px 0px 0px 8px;
                    text-align: center;
                    font-family: 'Muli';
                    font-size: 14px;
                    outline: none;
                    padding: 20px 28px;
                    @media(max-width:576px){
                      padding: 20px 18px;
                    }
                    &:last-child{
                        border-right: none;
                        border-radius: 0px 8px 8px 0px;
                    }
                }
                .gray-box{
                    background: var(--grayf8);
                    border:1px solid var(--graye3);
                    padding: 16px;
                    border-radius: 8px;
                    margin-bottom: 30px;
                    .MuiDivider-fullWidth{
                        margin: 8px 0px;
                    }
                }
                .MuiInputBase-adornedEnd{
                    .MuiIconButton-edgeEnd{
                        background: url('../assets/images/structure/calender-icon-blue.svg') no-repeat;
                        background-position: center;
                        background-size: auto;
                        width: 40px;
                        height: 40px;
                        object-fit: contain;
                    }
                    .MuiSvgIcon-root{
                        opacity: 0;
                    }
                }
                .MuiFormGroup-root{
                    display: flex;
                    flex-direction: row;
                }
            }
        }
    }
}
.MuiCalendarPicker-root{
    .Mui-selected{
        background: linear-gradient(96.22deg,#13E173 27.28%,#02CDFF 110.27%);    
    }
}