.auth-holder{
    .auth-top-logo{
        width: 144px;
        height: 90px;
        margin-bottom: 30px;
    }
    .auth-box{
        width: 420px;
        text-align: center;
        &.ab-660{
            width: 660px;
        }
    }
    .auth-box-bottom{
        margin-bottom: 20px;
    }
}

.user-service-holder{
    .user-box{
        margin-bottom: 20px;
        .user-box-label{
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            background: var(--white);
            box-shadow: 0px 0px 12px rgba(162, 162, 162, 0.16);
            border-radius: 8px;
            padding: 12px 20px;
            cursor: pointer;
        }
        input[type="radio"] ~ .user-box-label{
            background: var(--white);
        }
        input[type="radio"]:checked ~ .user-box-label{
            background: linear-gradient(96.22deg, #13E173 27.28%, #02CDFF 110.27%);
            box-shadow: 0px 0px 12px rgba(0, 180, 189, 0.16);
            .ubl-h4{
                color: var(--white);
            }
            .ubl-body{
                color: var(--white);
            }
            .ush-nab-icon{
                filter: invert(99%) sepia(1%) saturate(4576%) hue-rotate(324deg) brightness(126%) contrast(97%);
            }
        }
        input[type="radio"]{
            position: absolute;
            top: -9999999;
            filter: alpha(opacity=0);
            opacity: 0;
            width:0;
            height:0;
            outline: none;
            cursor: inherit;
        }
        
    }
    .otp-ipt-grp1{
        border: 1px solid var(--graybb);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: auto;
        margin: 0 10px;
    }
    .otp-ipt-grp2{
        border: 1px solid var(--graybb);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: auto;
        margin: 0 10px;
    }
    .otp-input{
        width: 8px;
        height: 16px;
        border: none;
        border-right: 1px solid var(--graybb);
        border-radius: 8px 0px 0px 8px;
        text-align: center;
        font-family: 'Muli';
        font-size: 14px;
        outline: none;
        padding: 20px 28px;
        &:last-child{
            border-right: none;
            border-radius: 0px 8px 8px 0px;
        }
    }
    .width410{
        width: 410px;
    }
    .text-underline{
        text-decoration: underline;
    }
}
