.main-mid-holder{
    padding: 81px 80px 10px 80px;
    background: var(--grayf5);
    min-height: calc(100vh - 0px);
    box-sizing: border-box;
}
.mmh-container{
    max-width: 1140px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.sweet-loading{
    
}