@font-face {
  font-family: 'Muli';
  src: local('Muli'),
       url('./assets/fonts/Muli.ttf') format('ttf');
}
@font-face {
  font-family: 'Muli';
  font-weight: 600;
  src: local('Muli'),
       url('./assets/fonts/Muli-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'Muli';
  font-weight: 700;
  src: local('Muli'),
       url('./assets/fonts/Muli-Bold.ttf') format('ttf');
}

:root {
  --white: #ffffff;
  --black1d: #1D1C1D;
  --black45: #454245;
  --primary: #1994C1;
  --gray61: #616061;
  --graybb: #BBBABB;
  --grayf8: #F8F8F8;
  --graye8: #e8e8e8;
  --success: #379F00;
  --warning: #FFCC41;
  --error: #CE1500;
  
}

/* Color modifications for the SVG images */
.filter-night-purple {
  filter: invert(5%) sepia(70%) saturate(3816%) hue-rotate(256deg) brightness(129%) contrast(100%);
}

.filter-dark-purple-gray {
  filter: invert(46%) sepia(5%) saturate(215%) hue-rotate(214deg) brightness(99%) contrast(93%);
}



