.textfield {
    margin: 0 0 24px 0 !important;
    width: 100% !important;
    .MuiInputBase-formControl {
        border-radius: 8px !important;
        background-color: var(--white) !important;
    }
    .MuiFormLabel-colorPrimary {
        color: rgba(128, 128, 128, 1);
        font-size: 14px;
        line-height: 24px;
        &.Mui-focused {
            color: rgba(0, 180, 189, 1);
            font-size: 12px;
        }
        &.MuiFormLabel-filled {
            font-size: 12px;
        }
    }
    .MuiInputLabel-asterisk {
        color: rgba(206, 21, 0, 1);
    }
    .MuiInputBase-formControl::before {
        height: 54px;
        border-radius: 8px !important;
        border: 1px solid var(--graybb) !important;
    }
    .MuiInputBase-formControl::after {
        height: 52px;
        border-radius: 8px !important;
        border: 2px solid var(--primary);
    }
    &.textareafield {
        .MuiInputBase-formControl::before {
            height: 85px;
            border-radius: 8px !important;
            border: 1px solid var(--graybb) !important;
        }
        .MuiInputBase-formControl::after {
            height: 85px;
        }
    }
}

.selectfield {
    margin: 0 0 24px 0 !important;
    width: 100% !important;
    border-radius: 8px;
    .MuiInputBase-formControl {
        border-radius: 8px !important;
        background-color: var(--white) !important;
    }
    .MuiFormLabel-colorPrimary {
        color: rgba(128, 128, 128, 1);
        font-size: 14px;
        line-height: 24px;
        &.Mui-focused {
            color: rgba(0, 180, 189, 1);
            font-size: 12px;
        }
        &.MuiFormLabel-filled {
            font-size: 12px;
        }
    }
    .MuiInputLabel-asterisk {
        color: rgba(206, 21, 0, 1);
    }
    .MuiInputBase-formControl::before {
        height: 54px;
        border-radius: 8px !important;
        border: 1px solid var(--graybb) !important;
    }
    .MuiInputBase-formControl::after {
        height: 52px;
        border-radius: 8px !important;
        border: 2px solid var(--primary);
    }
    .MuiSelect-filled {
        text-align: left;
    }
    .MuiInputBase-colorPrimary {
        &.Mui-focused {
            background-color: var(--white) !important;
        }
    }
    .MuiSelect-select {
        padding-top: 24px !important;
        border-radius: 8px !important;
        padding-bottom: 8px;
        text-align: left;
        font-size: 14px;
        font-weight: 600;
        background-color: transparent !important;
        [data-testid="CheckIcon"] {
            display: none;
        }
    }
    .MuiOutlinedInput-root {
        &:hover {
            .MuiOutlinedInput-notchedOutline {
                border-color: var(--graybb) !important;
            }
        }
        &.Mui-focused {
            .MuiOutlinedInput-notchedOutline {
                border-color: var(--primary) !important;
            }
        }
    }
    .MuiOutlinedInput-notchedOutline {
        top: 0px;
        legend {
            display: none;
        }
    }
}
.inputs-group {
    .selectfield {
        margin: 0 0 20px 0 !important;
    }
    .selectfield .MuiInputBase-formControl::before {
        height: 40px !important;
    }
    .selectfield .MuiInputBase-formControl::after {
        height: 40px !important;
    }
    .selectfield .MuiSelect-select {
        padding-top: 10px !important;
        border-radius: 8px !important;
        padding-bottom: 8px;
        text-align: left;
        font-size: 14px;
        font-weight: 600;
        background-color: transparent !important;
    }
    .selectfield .MuiFormLabel-colorPrimary {
        transform: translate(12px, 9px) scale(1);
    }
    .selectfield .MuiFormLabel-colorPrimary.MuiFormLabel-filled {
        font-size: 0px;
    }
}


.form-group.add-info-tool{
  .MuiSelect-select{
    padding-right:80px !important;
  }
  .MuiSvgIcon-root{
    right:55px !important;
  }
  .info-box{
    position:absolute;
    right: 2px;
    top:1px;
    width: 48px;
    height: 52px;
    background-color: var(--grayf8);
    border-radius: 0px .5rem .5rem 0px;
    z-index: 0;
    object-fit: none;
    cursor: pointer;
    .info-cion{
      width: 24px;
      height: 24px;
    }
  }
}


.MuiPopover-paper,
.MuiAutocomplete-paper {
    border: 1px solid var(--graybb) !important;
    .MuiList-padding {
        padding: 0 0 !important;
        .MuiMenuItem-root {
            padding: 14px 20px !important;
            border-bottom: 1px solid var(--graybb) !important;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px !important;
            color: var(--gray61) !important;
            &:hover {
                background-color: transparent !important;
            }
            &:last-child {
                border-bottom: none !important;
            }
            [data-testid="CheckIcon"] {
                display: none;
            }
            &.Mui-selected {
                background-color: transparent !important;
                [data-testid="CheckIcon"] {
                    color: var(--primary);
                    display: flex;
                }
                color: var(--black1d) !important;
            }
            .MuiCheckbox-colorPrimary {
                padding: 0px 10px 0px 0px;
            }
        }
    }
}

.Mui-checked {
    color: var(--primary) !important;
}

.form-group {
    position: relative;
    .eye-icon {
        position: absolute;
        right: 7px;
        top: 8px;
    }
    .ipnputlabel {
        margin: 2px 0 4px 0 !important;
        position: absolute;
        bottom: 0px;
    }
}

.header-right {
    .MuiButton-text {
        padding: 0 !important;
        &:hover {
            -webkit-text-decoration: none;
            text-decoration: none;
            background-color: transparent !important;
        }
    }
}

#basic-menu {
    .MuiPaper-elevation {
        top: 70px !important;
        left: unset !important;
        right: 10px !important;
        .MuiMenuItem-root {
            color: var(--black1d) !important;
            justify-content: flex-start;
            .profile-dropd-icon {
                margin-right: 8px;
            }
        }
    }
}

// modal css
.maxwidth430 {
    max-width: 430px !important;
    width: 100%;
    margin: auto !important;
    border-radius: 1rem;
    .MuiDialogContent-root {
        padding: 30px 60px 30px 30px !important;
    }
}

.maxwidth420 {
    max-width: 420px !important;
    width: 100%;
    margin: auto !important;
    border-radius: 1rem;
    text-align: center;
    .success-icon {
        margin-bottom: 20px;
        margin-top: 10px;
        width: 220px;
        height: 97px;
        object-fit: contain;
    }
}

.maxwidth470,
.MuiDialog-paperWidthSm {
    max-width: 470px !important;
    width: 100%;
    margin: auto !important;
    border-radius: 1rem;
    .MuiDialogContent-root {
        padding: 30px 30px 30px 30px;
        .modal-close {
            position: absolute;
            top: 12px;
            right: 12px;
            width: 24px;
            height: 24px;
            object-fit: contain;
            cursor: pointer;
        }
        .textfield {
            margin: 0px 0px 24px 0px !important;
        }
        .form-group {
            .ipnputlabel {
                bottom: auto;
                top: 57px;
            }
        }
    }
}

.react-tel-input {
    .form-control {
        border: 1px solid var(--graybb) !important;
        border-radius: 8px !important;
        height: 55px !important;
        width: 100% !important;
        color: var(--black1d) !important;
        font-family: 'Muli';
        padding-left: 96px !important;
    }
    .flag-dropdown {
        background-color: var(--grayf8) !important;
        border: 1px solid var(--graybb) !important;
        border-radius: 8px 0 0 8px !important;
        .selected-flag {
            width: 80px !important;
            height: 100% !important;
            padding: 0 0 0 16px !important;
            border-radius: 8px 0 0 8px !important;
            .arrow {
                left: 30px;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 6px solid var(--black1d);
            }
        }
    }
    .country-list {
        width: 320px !important;
        max-height: 120px !important;
        margin: 2px 0 10px 0px !important;
        text-align: left !important;
        border-radius: 8px !important;
        border: 1px solid var(--graybb) !important;
        .country {
            padding: 12px 20px !important;
            .flag {
                margin-right: 20px;
                margin-top: 0px;
            }
            .country-name {
                color: var(--gray61) !important;
            }
            .dial-code {
                color: var(--gray61) !important;
            }
            &.highlight {
                position: relative;
                background-color: transparent !important;
                &::after {
                    content: '';
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    background: url(../images/structure/check-green.svg);
                    right: 12px;
                    top: 12px;
                }
                .country-name {
                    color: var(--black1d) !important;
                }
                .dial-code {
                    color: var(--black1d) !important;
                }
            }
        }
    }
}

// side bar scss
.sideBarParent {
    position: fixed;
    top: 0px;
    //   right: -355px;
    z-index: 1000;
    right: 0px;
    visibility: visible;
    opacity: 1;
    will-change: opacity;
    transition: all 400ms;
    &.show {
        right: 0px;
        visibility: visible;
        opacity: 1;
    }
}

.sidebar-right {
    width: 350px;
    height: 100vh;
    box-shadow: 0px 0px 12px 0px #00000033;
    background: var(--white);
    .sidebar-close {
        position: absolute;
        width: 24px;
        right: 24px;
        top: 18px;
        right: 20px;
        cursor: pointer;
    }
    .sidebar-heading {
        padding: 20px 20px 19px 20px;
        border-bottom: 1px solid var(--grayf8);
    }
    .sidebar-body {
        padding: 30px 20px;
        min-height: calc(100vh - 140px);
    }
    .sidebar-footer {
        height: 80px;
        padding: 16px 20px;
        border-top: 1px solid var(--grayf8);
    }
}

.MuiTooltip-tooltip{
  background-color: var(--white) !important;
  color: var(--black1d) !important;
  border:1px solid var(--graye8) !important;
  max-width: 175px !important;
  font-size: 12px !important;
  margin: 0px 0px !important;
  .MuiTooltip-arrow{
    color: var(--white) !important;
    &:before{
        border:1px solid var(--graye8) !important;
    }
  }
}

// Alert
.MuiAlert-standard{
  position: fixed;
  right: 30px;
  top: 80px;
  width: 430px;
  border-radius: 0.5rem;
  z-index: 9;
  .MuiAlert-message{
    padding:7px 0px;
    font-size: 14px;
    font-weight: 600;
  }
  &.MuiAlert-standardSuccess{
    background-color: #EDF7ED;
    .MuiAlert-message{
      color: #1E4620;
    }
  }
}
